<article>
    <section class="container__cards">
        <div class="container__cards__title">
            <h2>Cards</h2>
        </div>
        <div class="cards">
            <div class="card" *ngFor="let pokemon of listaPokemon">
                <div class="card__title">
                    <h3>{{pokemon.name}}  </h3>
                    <i>ID: {{pokemon.id}}</i>
                </div>
                <div class="card__img">
                    <div class="img__backgroud">
                        <img src="{{pokemon.sprites.front_default}}">
                    </div>
                </div>
                <div class="card__atributs">
                    <p>
                        <strong>
                            Height:
                        </strong>
                        <span>{{pokemon.height}}</span>
                    </p>
                    <p>
                        <strong>
                            Weight:
                        </strong>
                        <span>{{pokemon.weight}}</span>
                    </p>
                    <p>
                        <strong>
                            EXP:
                        </strong>
                        <span>{{pokemon.base_experience}}</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <button (click)="mostrar()">traer</button>
</article>